* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #020617, #0f172a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

.container {
  background: #020617;
  padding: 30px;
  width: 320px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 30px #0ea5e9;
}

h1 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.search {
  display: flex;
  gap: 10px;
}

.search input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.search button {
  background: #38bdf8;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.weather-card {
  margin-top: 20px;
}

.weather-card i {
  font-size: 50px;
  color: #38bdf8;
  margin: 10px 0;
}

.weather-card h3 {
  font-size: 32px;
}

.details {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
